* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    margin: 10px;
    background-color: rgba(1, 1, 1, 1);
    background-position: center;
    background-size: cover;
    animation-name: open;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes open {
    0% {
        opacity: 0;
        background-image: url('../img/overlay.png');
    }
    100% {
        opacity: 1;
        background-image: url('../img/bg.jpg');
    }
}

.H1Bobo {
    margin: 0% 10%;
    text-align: center;
    font-weight: 100;
    font-family: 楷体;
    font-size: 32px;
    color: #f4f4f4;
    background-color: rgba(1, 1, 1, 0.5);
    box-shadow: 0 10px 50px 0px rgba(1, 1, 1);
    border-radius: 15px;
}

body .bobo {
    margin: 10px 0 20px 0;
    position: absolute;
    height: 80%;
    width: 90%;
    left: 5%;
    overflow: hidden;
    border-radius: 35px;
    box-shadow: 0 10px 50px 0px rgba(1, 1, 1);
    background-color: rgba(1, 1, 1, 0.5);
}

.boboBtn:hover {
    background-image: url('../img/波波生气.png');
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-repeat: no-repeat;
}

.boboBtn {
    position: relative;
    border-style: none;
    left: 40%;
    width: 200px;
    height: 200px;
    border-radius: 50px;
    box-shadow: 0 10px 50px 0px rgba(244, 244, 244, 0.5);
    background-image: url('../img/波波我的波波呢.png');
    background-repeat: no-repeat;
    transition: 0.5s;
}

.boboPushLeft {
    position: absolute;
    left: 75%;
    width: 50px;
    height: 50px;
    border-style: none;
    background-color: rgba(1, 1, 1, 0);
    background-image: url('../img/左.png');
}

.boboPushRight {
    position: absolute;
    left: 70%;
    width: 50px;
    height: 50px;
    border-style: none;
    background-color: rgba(1, 1, 1, 0);
    background-image: url('../img/右.png');
}

.boboPushDown {
    position: absolute;
    left: 70%;
    top: 15%;
    width: 50px;
    height: 50px;
    border-style: none;
    background-color: rgba(1, 1, 1, 0);
    background-image: url('../img/下.png');
}

.boboPushUp {
    position: absolute;
    left: 75%;
    top: 15%;
    width: 50px;
    height: 50px;
    border-style: none;
    background-color: rgba(1, 1, 1, 0);
    background-image: url('../img/上.png');
}